.modal-edit-table {
  display: none;
  position: relative;
  height: fit-content;
  margin: 40px;
  padding: 30px;
  border: 1px solid #6cf;
  box-shadow: 4px 4px 1px rgba(#6cf, 0.3);
}

.modal-title {
  margin-bottom: 20px;
  color: #039;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.input-title {
  display: block;
  margin-bottom: 10px;
  color: #039;
  font-weight: 700;
}

.modal-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  color: #039;
  font-size: 15px;
  border: 1px solid #669;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(#039, 0.3);
  resize: none;

  &:focus {
    outline: none;
  }
}

.modal-btn {
  display: block;
  width: 25%;
  margin-top: 10px;
  padding: 10px;
  color: #039;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #039;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(#039, 0.4);
  cursor: pointer;

  &:hover {
    background-color: rgba(#6cf, 0.3);
  }
}

.show {
  display: block;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #039;
  font-size: 35px;
  opacity: 0.7;
  background-color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}